body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: #000;
}

.header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 92px 50px;
    margin: 0 auto;
}

.header__menu {
    justify-self: start;
}

.header__links-list {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: circle;
    margin: 0;
    padding: 0;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
    position: relative;
    text-decoration: none;
    font-size: 18px;
    line-height: 21px;
    color: #000;
    transition: border-color 0.2s ease;
    border-bottom: 1px solid transparent;
}

.header__link:hover,
.header__link_active {
    border-bottom: 1px solid #000;
}

.header__logo {
    display: block;
    justify-self: center;
}

.header__logo-image {
    width: 148px;
    height: 105px;
}

.address {
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    color: #000;
    max-width: 210px;
    justify-self: end;
}

.header__contact {
    color: #000;
    text-decoration: underline;
    display: inline-block;
    margin-bottom: 3px;
}

.cover {
    position: relative;
    background: url(/images/cover.jpg) center/cover no-repeat;
    color: #fff;
    padding: 165px 50px 50px;
    width: 100%;
    margin: 0 auto;
}

.overlay {
    position: absolute;
    inset: 0;
    background: #000;
    opacity: 0.6;
    z-index: 1;
}

.cover__title {
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 100px;
    line-height: 135%;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    z-index: 2;
}

.aligned-text {
    display: block;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: right;
}

.cover__description {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*margin-top: 120px;*/
    margin-top: 106px;
    z-index: 2;
}

.cover__description-text {
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.05em;
    word-spacing: 18px;
}

.bet-button {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    padding: 12px 31px;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
}

.bet-button:hover {
    background: #fff;
    color: #000;
}

.lots {
    padding: 180px 24px 120px;
    margin: 0 auto;
}

.lots__heading {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 27px;
    margin-left: 40px;
}

.lots__card-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.lots__card-list-item {
    flex: 1 1 calc((100% - 50px) / 3);
    min-height: 596px;
    display: flex;
}

.card-link {
    text-decoration: none;
    color: inherit;
    display: block;
    height: 100%;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 48px 40px;
    background-size: cover;
    background-position: center;
    color: #fff;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    position: relative;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration-line: underline;
    z-index: 2;
}

.card__text {
    position: relative;
    font-weight: 300;
    font-size: 20px;
    line-height: 120%;
    z-index: 2;
}

.lots__look-more-link {
    display: inline-block;
    margin-top: 30px;
    font-size: 20px;
    line-height: 23px;
    color: #000;
    text-decoration: none;
    margin-left: 40px;
    border-bottom: 1px solid #000;
    transition: border-color 0.2s ease;
}

.about {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 72px;
    margin: 0 auto;
    padding: 0 24px 180px;
    align-items: start;
}

.about__column_logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__column_text {
    margin-top: 98px;
}

.about__logo {
    width: 240px;
    height: 240px;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 100px;
}

.about__text p {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000;
    margin-bottom: 24px;
}

.about__text p:last-child {
    margin-bottom: 0;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px 82px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #000;
}

.footer__address {
    font-style: normal;
    justify-self: start;
}

.footer__menu {
    justify-self: center;
}

.footer__menu-list {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.footer__menu-list-item:not(:last-child) {
    /*margin-bottom: 1px;*/
}

.footer__menu-link {
    text-decoration: none;
    transition: border-color 0.2s ease;
    border-bottom: 1px solid transparent;
}

.footer__menu-link_active {
    border-bottom: 1px solid #000;
}

.footer__social-list {
    display: flex;
    gap: 48px;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-self: end;
}

.footer__social-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}
